svg(width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg")
 path(d="M4.70966 11.2677L3.71075 10.4686C1.36533 8.59227 -1.45622e-06 5.75152 -1.7188e-06 2.74793C-1.7319e-06 2.59819 0.0911638 2.46353 0.230192 2.40792L4.62861 0.648556C4.86702 0.553193 5.13298 0.553193 5.37139 0.648557L9.76981 2.40792C9.90883 2.46353 10 2.59819 10 2.74793C10 5.75152 8.63467 8.59227 6.28925 10.4686L5.29034 11.2677C5.1206 11.4035 4.8794 11.4035 4.70966 11.2677Z" fill="white")
